<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A Grupa 3</title>
</head>
<body>
    <h1>
        WELCOME TO SUMMONERS RIFT
    </h1>
    <a href = '/list'><strong>
        Kliknij tutaj aby wejśc w liste pytań i odpowiedzieć na nie!!
    </strong></a>
    <br>
    <p> __________</p>
    <br>
    <p> __________</p>
    <br>
    <p> __________</p>
    <br>
    <p> __________</p>
    <a href = '/add-question'>
        Kliknij tutaj aby dodać pytanie
    </a>

</body>
</html>
